<!-- Author: Adnan Munawar: Launch file for MTMs trajectory and motion planning nodes -->
<launch>
<!-- Launch Actual MTMR launch file -->
  	<include file="$(find dvrk_robot)/launch/test_dvrk_mtm.launch" />
<!-- Launch motion planning/kinematics nodes -->
	<node name="teleop" pkg="dvrk_teleop" type="dvrk_teleop" />
<!-- Launch PSM's logic handling code node -->
	<node name="dvrk_psm_logic" pkg="dvrk_kinematics" type="dvrk_psm_logic" />
<!-- Launch PSMs motion planning, collision detection and intelligence node -->
	<node name="psmMP" pkg="kinematics" type="psmHaptics_node" />
<!-- Launch planning context with robot model-->
  	<include file="$(find psm1_spr)/launch/demo.launch"/>
</launch>
